<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<title>JSF Spring Hibernate Integration</title>
	<style type="text/css">
.tg {
	border-collapse: collapse;
	border-spacing: 0;
	border-color: #ccc;
}

.tg td {
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
	border-color: #ccc;
	color: #333;
	background-color: #fff;
}

.tg th {
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
	border-color: #ccc;
	color: #333;
	background-color: #f0f0f0;
}

.tg .tg-4eph {
	background-color: #f9f9f9
}
</style>
</h:head>
<h:body>
	<h1>Add a Person</h1>
	<h:form>
		<table>
			<tr>
				<td><label>Branch</label></td>
				<td>
				<p:selectOneMenu value="#{messageController.selectedBranch}">
            		<f:selectItems var="item" value="#{messageController.branchList}"/>
        		</p:selectOneMenu>
				</td>
			</tr>
			<tr>
				<td><label>Language</label></td>
				<td><h:inputText id="lang" value="#{messageController.message.lang}"></h:inputText>
				</td>
			</tr>
			<tr>
				<td><label>Message</label></td>
				<td><h:inputText id="message" value="#{messageController.message.text}"></h:inputText>
				</td>
			</tr>
			<tr>
				<td colspan="2"><h:commandButton
						action="#{messageController.saveMessage()}" value="Add Message"></h:commandButton>
				</td>
			</tr>

		</table>

	</h:form>

	<h3>Messages List</h3>
	

		<table class="tg">
			<tr>
				<th width="80">Person ID</th>
				<th width="120">Person Name</th>
				<th width="120">Person Country</th>
			</tr>
			<ui:repeat value="#{messageConroller.messageList}" var="m">
				<tr>
					<td>#{m.branch}</td>
					<td>#{m.lang}</td>
					<td>#{m.text}</td>
				</tr>
			</ui:repeat>
		</table>
</h:body>
</html>